<%= include header %>
<%= campaign %>
<% if (info.text !== undefined) { %> <div class="alert alert-success">Your campaign was successfully saved</div> <% } %>
<h1 class="details-name"><%= campaign.name %></h1>
<div class="container">

<ul class="nav nav-tabs">
  <li class="active"><a href="/dashboard/<%= campaign['_id'] %>">Details</a></li>
  <li><a href="/dashboard/<%= campaign['_id'] %>/edit">Edit Campaign</a></li>
  <li><a href="/dashboard/<%= campaign['_id'] %>/stats/">Statistics</a></li>
</ul>

<h4></h4>

<h3 class="details-head">How to Embed</h3>
<p>All you need to do to embed the button into your site, is copy some of the code below, and paste it into your web page.</p>
<h4>Embed as a button</h4>
<pre>
&lt;button onclick=&quot;window.open('http://localhost:3000/campaign/<%= campaign['_id'] %>','_blank','height=400,width=540,toolbar=no,fullscreen=no,location=no,resizable=no')&quot;&gt;Try it&lt;/button&gt;
</pre>

<h4>Embed as a link</h4>
<pre>
&lt;a href=&quot;#&quot; onclick=&quot;window.open('http://localhost:3000/campaign/<%= campaign['_id'] %>','_blank','height=400,width=540,toolbar=no,fullscreen=no,location=no,resizable=no')&quot;&gt;Try it&lt;/button&gt;
</pre>
</div>
<%= include footer %>