<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title><%= campaign.name %></title>
    <link href="/stylesheets/min/campaign.min.css" rel="stylesheet">
    <style type="text/css">
      body
      {
        background-color: <%= campaign.style.backgroundColor %>;
      }
      #social-intro-heading
      {
        color: <%= campaign.style.headingColor %>;
      }
      #social-intro-paragraph
      {
        color: <%= campaign.style.paragraphColor %>;
      }
      .share-text
      {
        color: <%= campaign.style.messageColor %>;
      }
      .post-secure 
      {
        color: <%= campaign.style.securityColor %>;
      }
    </style>
</head>

<body>

<div class="social-modal-container">
  <div class="campaign-logo"></div>
  <div class="social-intro">
    <h3 id="social-intro-heading"><%= campaign.text.heading %></h3>
    <p id="social-intro-paragraph"><%= campaign.text.paragraph %></p>
  </div>
  <div class="share-container">
    <div class="share-wrapper">
      <textarea class="share-text" <%if (!campaign.message_edit) { %> disabled="disabled" <% } %> maxlength="140"><%= campaign.message %> <%= campaign.link %></textarea>
    </div>
    <div style="clear:both"></div>
    <div class="share-send">
    <%if (campaign.facebook) { %>
      <a href="/auth/facebook?id=" class="facebook-signin">
          <div class="facebook-icon"></div>
          <div class="facebook-signin-text">
          <span class="word-strong">Post</span>
          <span class="word-italic">via</span>
          <span class="word-strong">Facebook</span>  
        </div>
      </a>
    <% } %>
    <%if (campaign.twitter) { %>
      <a href="/campaign/<%= campaign._id %>/twitter" class="twitter-signin">
          <div class="twitter-icon"></div>
          <div class="twitter-signin-text">
          <span class="word-strong">Post</span>
          <span class="word-italic">via</span>
          <span class="word-strong">Twitter</span>  
        </div>
      </a>
    <% } %>
      
    </div>
    <div style="clear:both"></div>
    <div class="post-secure" <%if (!campaign.twitter || !campaign.twitter) { %> style="text-align:left;" <% } %> >
      <%= campaign.text.security %>
    </div>
  </div>
</div>
</body>
</html>
